<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kosmo.kyw.mapper.MemberMapper">
	
	<insert id="insertMember" >
	<![CDATA[
		insert into member (id, username, name, gender, birth, email, phone, password) values (member_id_seq.nextval, #{username}, #{name}, #{gender}, null, #{email}, #{phone}, #{password})
	]]>
	</insert>
	
</mapper>